.App {
  max-width: 1200px;
  margin: 120px auto;
}

.Cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px auto;

  &>div {
    background-color: floralwhite;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-basis: 20%;
  }

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
  padding: 1rem;
  position: relative;

  button {
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    background-color: #2980b9;
    color: #ecf0f1;
    transition: 0.4s;

    &.active {
      transform: translateY(-12px);

    }

    &:disabled {
      background-color: #ccc;
      cursor: no-drop
    }

    &.white {
      background-color: floralwhite;
      border: 1px solid #111;
      color: #000;
    }

    &.red {
      background-color: #ff0000;
    }

    &.green {
      background-color: #00b894;
    }

    &.black {
      background-color: #2d3436;
    }

    &.yellow {
      background-color: #eccc68;
      color: #000;
    }
  }

  select {
    padding: 12px;
    width: 290px;
  }
}

.clear {
  background-color: #0984e3;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  right: 20px;
  top: 30px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}