.List {
  .List__title {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #c4c3c3;

    span {
      padding: 10px;
      background-color: #ffa801;
      color: #fff;
    }
  }

  ul {
    list-style: none;

    li {
      font-size: 24px;
      padding: 1rem;
      margin-bottom: 10px;
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      color: #fff;
    }
  }
}