.List {
  list-style-position: inside;
  margin-top: 40px;
  margin-bottom: 150px;

  li {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #eee;
    padding-left: 20px;
    transition: 0.2s;

    &::marker {
      font-size: 26px;
      color: darkblue;
    }

    &:hover {
      background-color: #c7c7c7;
      scale: 1.02;
      cursor: pointer;

    }
  }
}