.AuthForm {

  form {
    width: 700px;
    padding: 1rem;
    margin: 30px auto;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-top: 0.3rem;

    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-color: #0077ff;
    }
  }

  label {
    width: 100%;
    padding: 10px;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    line-height: 4;
  }
}

.error {
  color: firebrick;
  margin: 0;
}