.Posts {
  ul {
    width: 800px;
    padding: 1rem;
    list-style-position: inside;
    margin-top: 40px;
    margin-bottom: 150px;

    li {
      font-size: 20px;
      margin-bottom: 10px;
      background-color: #eee;
      display: flex;
      padding: 12px;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      transition: 0.2s;

      &::marker {
        font-size: 26px;
        color: darkblue;
      }

      &:hover {
        background-color: #c7c7c7;
        scale: 1.02;
        cursor: pointer;

      }
    }
  }


}